@{
    ViewData["Title"] = "Músicos";
}

<div class="text-center">
    <div>
        <a class="btn btn-primary" role="button" asp-controller="Musicos" asp-action="Criar">Adicionar Músico</a>
    </div>
</div>
